html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    text-align: center;
    background-color: #282c36;
    color: white;
    
}
.game-container {
    background: linear-gradient(135deg, #9aecff, #c4d6fa);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    margin: 50px auto;
}
#restart{
    display: none;
}
.restart-container {
    display: flex;
    justify-content: center;
    align-content: center; 
}
h1 {
    font-size: 24px;
    color: #2c3e50;
}
input {
    padding: 10px;
    font-size: 16px;
    margin: 10px;
    border: 2px solid #2c3e50;
    border-radius: 5px;
}
button {
    background-color: #2c3e50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
button:hover {
    background-color: #1a252f;
}
#message {
    font-size: 18px;
    margin: 10px 0;
}
